<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}

<body>
    <div class="row">
        <<div class="col-md-1"></div>
        <div class="col-md-1">
            <img src="/static/todologo.jpg" ALT="Flask" WIDTH=100 HEIGHT=100 align="center">
        </div>
        <div class="col-md-3">
            <h1 align="center">Task Allocator</h1>
        </div>
    </div>
    <div class="container">
        <h4>Welcome to Task Allocator! Helps you allocate tasks to members of your project! </h4>
    </div>
</body>
</html>